/* THANK YOU! */

.olivier {
  name: 'Olivier Leplus';
  job: 'Developer Advocate';  // AWS
  twitter: '@olivierleplus';
}

.yohan {
  name: 'Yohan Lasorsa'
  job: 'Developer Advocate';  // Microsoft
  twitter: '@sinedied';
}