






















section, p, body, html {
    margin: 0;
    padding: 0;
}

section {
    border-bottom: 1px solid #eaeaea;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1em;
}